.title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.card {
  display: inline-block;
  margin: 5px; /* Espaçamento entre os cards */
}

.noCard {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}
