<div class="card {{ card.modelo }}">
  <div class="card-body card">
    <img class="circle" [src]="card.picture" alt="Imagem do Card">
    <h5 class="card-title">{{ card.name }}</h5>
    <a href="{{ card.url1 }}" target="_blank" class="buttonLink">{{ card.name1 }}</a>
    <a href="{{ card.url2 }}" target="_blank" class="buttonLink">{{ card.name2 }}</a>
    <a href="{{ card.url3 }}" target="_blank" class="buttonLink">{{ card.name3 }}</a>
    <a href="{{ card.email }}" target="_blank" class="email">{{ card.email }}</a>
    <a href="{{ card.telefone }}" target="_blank" class="telefone">{{ card.telefone }}</a>
    <div class="action">
      <button class="functionUpdate">
        <img class="icon" src="/assets/img/icone-editar.png" alt="icone de editar" routerLink="/cards/updateCard/{{card.id}}">
      </button>
      <button class="functionDelete">
        <img class="icon" src="/assets/img/icone-excluir.png" alt="icone de excluir" routerLink="/cards/deleteCard/{{card.id}}">
      </button>
    </div>
  </div>
</div>

